.num2{
  margin-top: 100px;
  margin-bottom: 50px;
}

.intro {
  color: black;
  height: 75vh;
  padding: 20px 0;
  margin-left: 40px;
  height: fit-content;
  margin-bottom: 0px;
  margin-top: 30px;
  padding-top: 2px;
}

.intro h1 {
  font-size: 40px;
}
.intro ul {
  margin: 20px 0;
  margin-right: 20px;
}
.intro ul li {
  margin: 10px 0;
}
.intro .row img {
  margin-right: 30px;
  width: 60%;
  margin-left: 20px;
  margin: auto;
}
.intro .row {
  position: relative;
}
.intro .image {
  position: absolute;
  left: 0%;
  right: 0;
  margin-right: 200px;
}
@media screen and (max-width: 768px) {
  .intro .flex_space {
    flex-direction: column;
    padding: 40px;
  }
  .intro .row {
    width: 100%;
  }
  .intro .row2 {
    display: none;
  }
  .intro {
    height: 60vh;
    height: 100vh;
    margin-top: 50px;
    height: fit-content;

  }
}
