
.image-heading {
  background-image: url("../../../public/Images/image-heading.jpg");
  background-image: url("../../../public/Images/dif.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 45vh;
  line-height: 30vh;
  position: relative;
  z-index: -2;
  margin-top: -110px;
  z-index: 2;
}




.image-heading span {
  text-transform: capitalize;
  word-spacing: 30px;
}
